{% extends "base.html" %}
{% block content %}

<form method="post" action="/send" enctype="multipart/form-data">

    <input type="file" id="img_file" name="img_file" class="form-control-file">
    <input type="submit" value="send" class="btn btn-primary" style="margin: 50px">
</form>

<div class="container">
    {% if img_url %}
  <p><img src="{{ img_url }}"  class="img-thumbnail" alt="uploaded image"></p>
    {% endif %}
  <br>
  <p class="text-center"> {{ result }} </p>
</div>

{% endblock %}
